.flexContainer {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(85, 83, 83);
    font-family: "Poppins", sans-serif;
  }
  
  .container{
    border: 1px solid rgb(233, 233, 233);
    padding: 25px;
    border-radius: 10px;
    background-color: #f9f3f3;
  }
  .container span  {
    font-size: 50px;
  }
  .container h2 {
    text-align: center;
  }
  
  .formInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .formInputs input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
    letter-spacing: 0.8px;
  }
  
  button {
    background-color: transparent;
    border: none;
    outline: none;

  }
  .on {
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
    cursor: default !important;
  }
  .off {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ccc;
    cursor: default !important;
  }
  


.error {
  margin-top: 5px;
  color: red;
}
  