.img{
    width: 80%;
    height: 202px;
/*     height: 653px;
    left: 0px;
    position: absolute; */ 
}
.img2{
    width: 20%;
    height: 202px;
}
.img3{
    width: 70%;
}
/* 
.button{
    position: absolute;
    border: 1px solid transparent;
    background-color: transparent;
    color: black;
    width: 120px;
    height: 50px;
    font-size: 30px;
    left: 45%;
    top: 40%;
    cursor: pointer;
    font-family: 'Space Mono', monospace; 
    }
      */