.pagerContainer ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.pagerContainer ul li {
  border: 1px solid rgb(233, 233, 233);
  background-color: #f7d9d9;
  cursor: pointer;
  padding: 8px;
}

.pagerContainer ul li:hover {
  background-color: #ec80a4;
}
