.carroContainer {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 80vh;
  font-family: "Poppins", sans-serif;
}

.carroContainer h3 {
  text-align: right;
  margin-right: 30px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.imgNameContainer {
  display: flex;
  align-items: center;

  gap: 20px;
}
.imgNameContainer p {
  font-size: 1.5rem;
}

.flexDataContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.leftSideContainer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.leftSideContainer button {
  border: none;
  background-color: white;
  color: blue;
  cursor: pointer;
  max-width: 75px;
}

.addRemoveItems {
  border: 1px solid rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 5px 10px;
}

.addRemoveItems button {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 100%;
}
.button{
  border: none;
  color: black;
  background-color: #f7d9d9;
  border-radius: 7px;
  cursor: pointer;
  width: 13%;
  height: 30px;
  margin-left: 1160px;
  text-align: center;

}