.navContainer {
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  height: 10vh;
  font-size: 1.5rem;

}

.ulContainer {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.ulContainer li {
  color: #fff;
  cursor: pointer;
}

.ulContainer li:hover {
  color: #dddddd;
}

.underline {
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  color: white;
  margin-left: 30px;
}
.underline:hover{
  color: gray;
}
.list{
  list-style: none;
  color: black;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
.offcanvas{
  color: #dddddd;
}
.div{
  background-color: pink;
}
.links:active{
  background-color: pink;
}
.list:hover{
  background-color: pink;
}
.toggle{
  
  background-color: rgb(49, 49, 49);
}