.navContainer {
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  height: 10vh;
  font-size: 1.5rem;
}

.ulContainer {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.ulContainer li {
  color: #fff;
  cursor: pointer;
}

.ulContainer li:hover {
  color: #dddddd;
}

.underline {
  text-decoration: none;

}
