.img{
    width: 60%;
    height: 450px;
    position: absolute;
    left: 20%;
}
/* .button{
    background-color: #FEA19C;
    position: absolute;
    top: 13%;
    left: 1%;
    color: black;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */